𦎫 敦
匕 妣
𠂤 師
亖 四
𡧍 賓
賓 儐
𧶁 贐
𫸥 引
㐰 信
𫾶 播
𠂇 左
大 太
戉 鉞
㢭 發
糿 絕
𦨗 般
前 歬
𬮔 管
酓 飲
㱃 飲
𡨦 寢
㚸 姒
𠤕 疑
㞢 又
𫻨 戒
聀 聝
𦥷 興
𫡜 次
丼 井
冂 冋
𰳬 徙
㫃 旅
𫙐 漁
䰻 漁
獏 貘
𫐻 趨
𢔵 遘
倲 重
𠔼 同
𠆸 攸
𰡧 獸
彡 肜
万 萬
㫋 旃
子 巳
㠯 與
匚 報
弔 叔
述 墜
𬀚 祈
𤞷 禰
灋 發
見 獻
 
 
 
 
 
 
 
 
 
 
 
 
 
 
